name: Auto Rollback

on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: "Select tag for rollback"
        required: true
        type: string

jobs:

  load-tags:
    runs-on: ubuntu-latest
    outputs:
      tags: ${{ steps.list-tags.outputs.tags }}
    steps:
      - name: List Docker Hub tags
        id: list-tags
        run: |
          TAGS=$(curl -s "https://hub.docker.com/v2/repositories/vaqif/myapp/tags/?page_size=20" | jq -r '.results[].name')
          echo "Available tags:"
          echo "$TAGS"

          echo "tags<<EOF" >> $GITHUB_OUTPUT
          echo "$TAGS" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

  rollback:
    needs: load-tags
    runs-on: ubuntu-latest
    steps:
      - name: Rollback info
        run: |
          echo "Available tags were:"
          echo "${{ needs.load-tags.outputs.tags }}"
          echo "Selected tag for rollback: ${{ github.event.inputs.image_tag }}"
